<!DOCTYPE html>
<html lang="en">
<head>
    <%-meta%>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.12.0/toastify.js"></script>
    <!-- <script src="https://unpkg.com/@solana/web3.js"></script> -->
</head>
<body>
    <%- header  %>
    <%- content  %>
    <%- footer  %>
    <script src="https://unpkg.com/@solana/web3.js@latest/lib/index.iife.min.js"></script>
    <script>
        window.solanaWeb3 = solanaWeb3;
      </script>
</body>
</html>